In [1]:
import pandas as pd

In [2]:
# mongdb_cred
# username=talhaturab
# password=IiWHs4jBHbYuz6Jd

In [3]:
df = pd.read_csv('BooksDataset.csv')
df.dropna(subset=['Description', 'Category'], axis=0, inplace=True)
df.isna().sum()

Title           0
Authors         0
Description     0
Category        0
Publisher       0
Publish Date    0
Price           0
dtype: int64

In [4]:
df.columns = [col.lower().replace(' ', '_') for col in df.columns]

In [5]:
df['authors'] = df['authors'].str.replace('By ', '')
df.reset_index(inplace=True, drop=True)

In [6]:
df['price'] = df['price'].str.replace('Price Starting at $', '').str.replace(',', '').astype(float)

In [7]:
books_data = df.sample(n=5000)

In [8]:
# Transform the categories column into lists
books_data['category'] = books_data['category'].apply(lambda x: [cat.strip() for cat in x.split(",")])

In [9]:
import re

def split_authors(author_string):
    """
    Splits an author string into a list of individual authors,
    preserving names like 'Vining, Alex' as single entities 
    and changing the format to 'Vining. Alex'.
    """
    # Step 1: Replace " and " with a comma for uniform splitting
    author_string = re.sub(r'\s+and\s+', ',', author_string)

    # Step 2: Find all author names (including names with commas) using regex
    pattern = r'([^,]+,\s[^,]+)|([^,]+)'  # Match "Lastname, Firstname" or standalone names
    matches = re.findall(pattern, author_string)

    # Step 3: Extract matches, replace comma with period, and clean up annotations like (ILT)
    authors = []
    for match in matches:
        # Combine groups (matches are returned as tuples)
        author = "".join(match).strip()
        # Remove any annotations in parentheses like (ILT), (EDT)
        author_clean = re.sub(r'\s*\(.*?\)', '', author).strip()
        # Replace the comma between names with a period and space
        author_clean = re.sub(r',\s+', '. ', author_clean)
        if author_clean:
            authors.append(author_clean)

    return authors

# Assuming the data is in a DataFrame column 'authors'
books_data['authors'] = books_data['authors'].apply(split_authors)

In [15]:
import random
# Add a new column 'quantity_available' with random values between 1 and 20
books_data['quantity_available'] = [random.randint(1, 20) for _ in range(5000)]

In [18]:
data = books_data.to_dict(orient="records")

In [19]:
from pymongo import MongoClient

# Connect to MongoDB
client = MongoClient("mongodb+srv://talhaturab:IiWHs4jBHbYuz6Jd@cluster0.likby.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")  # Update with your connection string
db = client['books_db']  # Database name
collection = db['books_collection']  # Collection name

# Insert the list of dictionaries into MongoDB
collection.insert_many(data)

print("Data successfully inserted into MongoDB!")

Data successfully inserted into MongoDB!